.imageChange {
    max-width: 400px;
    height: 200px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.a {
    color: aquamarine;
    font-size: 30px;
    font-style: revert;
}
.in4 {
    float: right;
    width: 650px;
}
.fb {
    text-align: center;
}